<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, inicial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>Layout Basica</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <div class="contenedor">
      <header>
        <nav>
          <!--Seccion de la pagina que proporciona enlaces a la pagina-->
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
      </header>

      <section class="main">
        <div class="imagen">
          <img src="img/Desert.jpg" />
        </div>
        <section class="posts">
          <article>
            <h2>Título del Articulo</h2>
            <p>
              El vídeo proporciona una manera eficaz para ayudarle a demostrar
              el punto. Cuando haga clic en Vídeo en línea, puede pegar el
              código para insertar del vídeo que desea agregar. También puede
              escribir una palabra clave para buscar en línea el vídeo que mejor
              se adapte a su documento.
            </p>
            <p>
              El vídeo proporciona una manera eficaz para ayudarle a demostrar
              el punto. Cuando haga clic en Vídeo en línea, puede pegar el
              código para insertar del vídeo que desea agregar. También puede
              escribir una palabra clave para buscar en línea el vídeo que mejor
              se adapte a su documento.
            </p>
          </article>
        </section>
      </section>

      <aside>
        <div class="widget">
          <h3 class="titulo">Articulos destacados</h3>
          <ul>
            <li>
              <a href="#"
                >El vídeo proporciona una manera eficaz para ayudarle a
                demostrar el punto.
              </a>
            </li>
            <li>
              <a href="#"
                >El vídeo proporciona una manera eficaz para ayudarle a
                demostrar el punto.
              </a>
            </li>
            <li>
              <a href="#"
                >El vídeo proporciona una manera eficaz para ayudarle a
                demostrar el punto.
              </a>
            </li>
            <li>
              <a href="#"
                >El vídeo proporciona una manera eficaz para ayudarle a
                demostrar el punto.
              </a>
            </li>
            <li>
              <a href="#"
                >El vídeo proporciona una manera eficaz para ayudarle a
                demostrar el punto.
              </a>
            </li>
          </ul>
        </div>
        <div class="widget">
          <h3 class="titulo">Información</h3>
          <p>
            El vídeo proporciona una manera eficaz para ayudarle a demostrar el
            punto. Cuando haga clic en Vídeo en línea, puede pegar el código
            para insertar del vídeo que desea agregar. También puede escribir
            una palabra clave para buscar en línea el vídeo que mejor se adapte
            a su documento.
          </p>
        </div>
      </aside>

      <footer>
        <p>Josué Ajoruro 2022 - Todos los derechos reservados</p>
      </footer>
    </div>
  </body>
</html>
