.header{
	background-image: url(../../assets/images/bg2.png);
	background-repeat: no-repeat; /*para q no repita la imagen*/
	background-size: cover; /*para q se adapte al dispositivo*/
	padding-bottom: 3rem;
	height: 70rem;
}


@media(min-width: 576px){ /*mediano-grande*/
	.header{
		height: 70rem; /*altura*/
	}
}

@media(min-width: 1200px){ /*grande*/
	.header{
		height: 100vh; /*alto del tamaño de la ventana*/
	}
}