.courses{
	padding: 5rem 0;
}

.courses__container{
	display: grid; /*cuadricula*/
	gap: 2rem; /*espaciado entre elementos*/
	padding-top: 4rem;
}

@media(min-width: 768px){ /*mediano-grande*/
	.courses__container{
		display: flex; /*flexible*/
		flex-wrap: wrap;
	}
}

.course{
	display: block; /*àra q abarque todo*/
	background-color: var(--color-200);
	border-radius: 0.7rem; /*borde redondeado*/
	overflow: hidden; /*para q oculte el desbordamiento*/
	box-shadow: 0 0 0.3rem var(--color-main); /*sombreado*/
	border-bottom: 0.5rem solid var(--color-main); 
}

@media(min-width: 768px){ /*mediano-grande*/
	.course{
		flex-grow: 1; /*para q el espacio suficiente*/
		width: 30rem;
		transition-duration: 0.5s;
	}

	.course:hover{
		transform: scale(1.05);
	}
}

.course__text{
	padding: 1rem;
}

.course__title{
	margin: 0;
}

.course__desc{
	color: var(--color-600);
}

.course__footer{
	border-top: 0.1rem solid var(--color-300);
	padding: 1rem;
	display: flex; /*flexible*/
	justify-content: space-between; /*espacion entre elementos*/
}

.course__price{
	margin: 0;
	font-weight: 700; /*negrita*/
}

.course__price--line{
	text-decoration: line-through; /*tacha el texto*/
	color: var(--color-500);
}