/*Tamaño estandar para media queries
	extra small | <576px
	small | >=576px
	medium | >=768px
	large | >=992px
	extra large | >=1200px
	extra extra large | >= 1400px*/
.stats{
	padding-top: 5rem;
	width: 100%;
	display: grid; /*cuadricula*/
	gap: 2rem; /*espaciado entre elementos*/
}

@media(min-width: 768px){ /*mediano - grande*/
	.stats{
		display: flex; /*flexible*/
		flex-wrap: wrap;
	}
}

.stats__item{
	background-color: var(--color-700);
	padding: 2rem;
	border-radius: 1rem;
	display: grid; /*cuadricula*/
	grid-template-columns: auto 15rem; /*2 columnas*/
	place-content: center; /*centra todos los items vertical*/
	place-items: center start; /*centra y pone al inicio vertical*/
	gap: 1.5rem; /*espaciado entre elementos*/
	color: var(--color-200);
}

@media(min-width: 768px){ /*mediano - grande*/
	.stats__item{
		flex-grow: 1; /*para q los items ocuapen el espacio necesario*/
		transition-duration: 0.5s;
	}
	.stats__item:hover{
		transform: scaleY(1.1); /*para q el item escale hacia arriba y abajo*/
	}
}

.stats__item--bg2{
	background-color: var(--color-800);
}

.stats__item--bg3{
	background-color: var(--color-900);	
}

.stats__item--bg4{
	background-color: var(--color-950);
}

.stats__icon{
	color: var(--color-main); /*color icono*/
	font-size: 6rem; /*tamaño icono*/
}

.stats__text{
	display: grid;
}

.stats__number{
	font-size: 2.5rem;
	font-weight: 600; /*negrita*/
}

.stats__label{
	font-size: 1.6rem;
	font-weight: 400; /*negrita*/
}



