@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	 font-family: Arila, Sans-serif;
	 font-size: 16px;
	 background: #4a465b;
}

.contenedor {
	width: 1000px;
	margin: 20px auto;
	overflow: hidden; /*soluciona el problema del footer*/
}

header {
	background: #fff;
}

header nav {
	width: 100%;
}
 
header nav ul {
	width: 100%;
	overflow: hidden; /*soluciona el problema*/
	list-style: none;
}

header nav ul li{
	float: left;
}

header nav ul li a {
	text-decoration: none;
	display: inline-block;
	padding: 15px 20px;
	color: #000;
}

header nav ul li a:hover {
	background: #000;
	color: #fff;
}

.main {
	width: 700px;
	background: #fff;
	float: left; /*float left en el main y aside | alinea a la izquierda los contenedores*/
}

.main .imagen {
	width: 100%;
}

.main .imagen img {
	width: 100%; /*ocupa el 100% de 700px*/
	vertical-align: top; /*elimina el espacio sobrante*/
}

.main .posts article h2 {
	margin-bottom: 20px;
	color: #424242;
}

.main .posts article p {
	margin-bottom: 15px;
	line-height: 27px; /*Interlineado*/
}

aside {
	width: 300px;
	background: #161f26;
	padding: 20px;
	color: #fff;
	float: left;
}

aside .widget {
	margin-bottom: 20px;
}

aside .widget .titulo {
	color: #ff8000;
	border-bottom: 1px solid #ff8000;
	margin-bottom: 10px;
}

aside .widget ul {
	list-style: none;
}

aside .widget ul li {
	border-bottom: 1px solid rgba(255,255,255, 0.2);
	padding: 10px 0;
}

aside .widget ul li a {
	color: #fff;
	text-decoration: none;
}

aside .widget ul li a:hover {
	color: #8f8f8f;
}

aside .widget p {
	line-height: 27px; /*interlineado*/
}

footer {
	width: 700px;
	/*overflow: hidden;*/
	clear: both; /*souciona el problema*/
	background: #000;
	color: #fff;
	padding: 15px 0;
	text-align: center;
}